body{
  margin: 0;
  padding: 0;
}

.all{
  width: 100%;
  height: 100%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  background-color: #B8CFCA ;
}

.logo{
  font-size: 35px;
  line-height: 43.32px;
  font-weight: 400;
  margin-left: 25px;
  margin-top: 18px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.searchBox{
  height: 20px;
  margin-top: 32.5px;
  margin-left: 800px;
  font-family: 'Times New Roman', Times, serif;
}

.signBox{
  height: 20px;
  margin-top: 32.5px;
  margin-right: 75px;
  font-family: 'Times New Roman', Times, serif;
}

.bilgii{
  margin-top: 5px;
  background-color: #FAF0E6;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bilgii p{
  display: flex;
  justify-content: center;
  margin-left: 0.1px;
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.box1{
  margin-top: 14px;
  margin-left: 43px;
  margin-right: 25px;
  height: 28px;
  width: 83px;
  background-color: #FFFAF0;
  image-rendering: crisp-edges;
  
}

.boxx{
  margin-top: 14px;
  margin-left: -43px;
  margin-right: 25px;
  height: 28px;
  width: 103px;
  background-color: #FFFAF0;
  image-rendering: crisp-edges;
  
}

.box2{
  margin-top: 14px;
  margin-left: -45px;
  margin-right: 55px;
  height: 28px;
  width: 83px;
  background-color: #FFFAF0;
  image-rendering: crisp-edges;
}


h3{
  margin-left: 45px;
  margin-top: 33px;
  max-width: 250px;
}

.select{
  margin-top: -800px;
  margin-bottom: 25px;
  margin-left: 45px;
}

.box{
  height: 80px;
  background-color: #B8CFCA  ;
  margin-top:2px;
  margin-left: 45px;
  margin-right: 45px;
  display: flex;
  justify-content: space-between;
}

.box p{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  font-family: 'Times New Roman', Times, serif;
 

}